<?xml version="1.0" encoding="UTF-8"?><suite configfailurepolicy="continue" name="Suite" parallel="none"><test name="Test" preserve-order="true"><classes><class name="commonMethods.Testcases"/></classes><methods><include name="outbound_001" priority="1"/><include name="outbound_003" priority="2"/><include name="outbound_004" priority="3"/><include name="outbound_005" priority="4"/><include name="outbound_009" priority="5"/><include name="outbound_010" priority="6"/><include name="outbound_011" priority="7"/><include name="outbound_012" priority="8"/></methods></test><listeners><listener class-name="atu.testng.reports.listeners.ATUReportsListener"/><listener class-name="atu.testng.reports.listeners.ConfigurationListener"/><listener class-name="atu.testng.reports.listeners.MethodListener"/></listeners></suite>